:root {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
        helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 12px;
    --font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;    
    --color-bkg-compute: #1385ff;
    --color-bkg-reconciliation: #06ff1b;
    --color-bkg-render: #989898;
    --color-text-objectId: #79baff;
    --color-text-storeId: #3a99fe;
    --color-text-propertyName: #ebc87d;
    --color-text-propertyValue: #d68c70;
    --color-text-highlight1-bkg123: #ff8c00;
    --color-text-highlight2-bkg123: #06ff1b;
    --color-text-highlight3-bkg123: #1385ff;
    --color-text-highlight4-bkg123: #79baff;
    --color-text-error: #ff0000;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

#root {
    height: 100vh;
}

#fallback {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

html.dark {
    /* 1 = strongest */
    --color-text1: #f0f0f0;
    --color-text2: #e0e0e0;
    --color-text3: #b9b9b9;
    --color-text4: #808080;
    --color-text5: #000000;

    --color-bkg1: #252525;
    --color-bkg2: #373737;
    --color-bkg3: #444444;
    --color-bkg4: #707070;
    --color-bkg5: #808080;
}

html.light {
    /* 1 = strongest */
    --color-text1: #333333;
    --color-text2: #404040;
    --color-text3: #505050;
    --color-text4: #757575;

    --color-bkg1: #ffffff;
    --color-bkg2: #f7f7f7;
    --color-bkg3: #f5f5f5;
    --color-bkg4: #e0e0e0;
}

body {
    color: var(--color-text2);
    background-color: var(--color-bkg1);
}